*.Identifier
notes.md
*.svg
*.vtu
*.pvtu
*.pvd
*.pvtu

# Ignoring adding build files to git server, make habit to rebuild every time after changing branches
/CMakeFiles
CMakeCache.txt
cmake_install.cmake
main
MakeFile